%TMPL:INCLUDE{"attach"}%



%TMPL:DEF{"pagetitlecontents"}%%MAKETEXT{"Update attachment [_1] on [_2]" args="[[%ATTACHURLPATH%/%ENCODE{"%FILENAME%"}%][%FILENAME%]],[[%TOPIC%]]"}%%TMPL:END%



%TMPL:DEF{"versions"}%---+++ %MAKETEXT{"Version history of [_1]" args="%FILENAME%"}%
<div class="twikiAttachments">
%TABLE{%TMPL:P{"commonattachtableattributes"}%id="twikiAttachmentsTable" summary="%MAKETEXT{"Version history"}%" caption="%MAKETEXT{"Version history"}%"}%
%ATTACHTABLE%
</div><!-- /twikiAttachments-->%TMPL:END%



%TMPL:DEF{"changepropertiesaction"}%<div class="twikiFormStep twikiLast"><input type="submit" class="twikiButton" name="changeproperties" value='%MAKETEXT{"Change comment and properties only"}%' /></div><!-- /twikiFormStep-->%TMPL:END%


%TMPL:DEF{"twikiFormStepproperties"}%<div class="twikiFormStep">%TMPL:END%


%TMPL:DEF{"previous"}%%MAKETEXT{"Select a new local file to update attachment"}% <code>%FILEPATH%</code> <span class="twikiGrayText">%TMPL:P{"fileuser"}%</span><br />%TMPL:END%



%TMPL:DEF{"extranotes"}%
   * %MAKETEXT{"*Properties:* The comment and visibility (i.e. is attachment hidden) can be changed without uploading a file by pressing \"Change Properties only\"; see <a target=\"HiddenAttachment\" onclick=\"return launchWindow('[_1]','HiddenAttachment')\" href=\"[_2]\" rel='nofollow'>HiddenAttachment</a>." args="%TWIKIWEB%, %SCRIPTURLPATH{"view"}%/%TWIKIWEB%/HiddenAttachment"}%
   * %MAKETEXT{"*Change comment:* If you use _Change Properties_ to change a comment, the comment shown in the topic will change, but the comment shown against the attachment history will be the comment when the file was uploaded."}%
   * %MAKETEXT{"*Local file:* If you select a different file in _Local file:_, it is this that will be updated or added."}%
%TMPL:END%



%TMPL:DEF{"movedelete"}%<div class="patternMoveAttachment"><a href="%SCRIPTURLPATH{"rename"}%/%WEB%/%TOPIC%?template=moveattachment&attachment=%ENCODE{"%FILENAME%"}%" rel='nofollow'><span class="twikiLinkLabel">%MAKETEXT{"Move"}%</span></a> %MAKETEXT{"or"}% <a href="%SCRIPTURLPATH{"rename"}%/%WEB%/%TOPIC%?web=%TRASHWEB%&template=renameattachmentdelete&attachment=%ENCODE{"%FILENAME%"}%" rel='nofollow'><span class="twikiLinkLabel">%MAKETEXT{"Delete"}%</span></a> =%FILENAME%= </div>%TMPL:END%



%TMPL:DEF{"topicactionbuttons"}%<input type="submit" class="twikiSubmit" value='%MAKETEXT{"Upload file"}%' /> %MAKETEXT{"or"}% %TMPL:P{"canceltopicaction"}%%TMPL:END%



%TMPL:DEF{"fileuser"}%(%FILEUSER%)%TMPL:END%



%TMPL:P{"attach"}%
