%TMPL:INCLUDE{"attach"}%



%TMPL:DEF{"pagetitlecontents"}%%MAKETEXT{"Attach file to [_1]" args="[[%TOPIC%]]"}%%TMPL:END%



%TMPL:DEF{"twikiFormStepproperties"}%<div class="twikiFormStep twikiLast">%TMPL:END%



%TMPL:DEF{"topicactionbuttons"}%<input type="submit" class="twikiSubmit" value='%MAKETEXT{"Upload file"}%' /> %MAKETEXT{"or"}% %TMPL:P{"canceltopicaction"}%
%TMPL:END%