%TMPL:INCLUDE{"attach.classic"}%
%TMPL:DEF{"titleaction"}%(attach) %TMPL:END%
%TMPL:DEF{"headerhelp"}% %TMPL:END%
%TMPL:DEF{"webaction"}% Attach file to topic <b>%TOPIC%</b> %TMPL:END%
%TMPL:DEF{"previousdetails"}%---++ Attach new file %TMPL:END%
%TMPL:DEF{"action"}%Attach new file%TMPL:END%
%TMPL:DEF{"topicaction"}%   <input type="submit" class="twikiSubmit" value=" &nbsp; Upload file &nbsp; " /> %TMPL:P{"sep"}%   [[%WEB%.%TOPIC%][Cancel]] %TMPL:END%
%TMPL:P{"attach"}%
