%TMPL:INCLUDE{"attach.classic"}%
%TMPL:DEF{"titleaction"}%(attach) %TMPL:END%
%TMPL:DEF{"headerhelp"}% %TMPL:END%
%TMPL:DEF{"webaction"}% Update attachment *%FILENAME%* on *%TOPIC%* %TMPL:END%
%TMPL:DEF{"previousdetails"}%---++ Update attachment <code>%FILENAME%</code>
%ATTACHTABLE% %TMPL:END%
%TMPL:DEF{"previous"}%  <tr>
  <td align="right">
   Previous <br /> upload:
  </td><td>
   <code>%FILEPATH%</code> %TMPL:P{"fileuser"}%
  </td>
 </tr>%TMPL:END%
%TMPL:DEF{"extranotes"}%   * *Properties:* The comment and visibility (i.e. is attachment hidden) can be changed without 
     uploading a file by pressing "Change Properties"; see
     <a target="HiddenAttachment" onclick="return launchWindow('%TWIKIWEB%','HiddenAttachment')" href="%SCRIPTURLPATH{"view"}%/%TWIKIWEB%/HiddenAttachment" rel='nofollow'>HiddenAttachment</a>
   * *Change comment:* If you use _Change Properties_ to change a comment, the comment shown in 
     the topic will change, but the comment shown against the attachment history will be the 
     comment when the file was uploaded.
   * *Local file:* If you select a different file in _Local file:_, it is this that will be 
     updated or added.
%TMPL:END%
%TMPL:DEF{"topicaction"}%   <input type="submit" class="twikiSubmit" value=" &nbsp; Upload file &nbsp; " /> %TMPL:P{"sep"}%   <input type="submit" class="twikiSubmit" name="changeproperties" value="Change properties only" />  %TMPL:P{"sep"}%
   <a href="%SCRIPTURLPATH{"rename"}%/%WEB%/%TOPIC%?attachment=%FILENAME%" rel='nofollow'>Move or delete attachment</a> %TMPL:P{"sep"}%
   [[%WEB%.%TOPIC%][Cancel]] %TMPL:END%
%TMPL:DEF{"fileuser"}%(%FILEUSER%)%TMPL:END%
%TMPL:P{"attach"}%
