<!-- Templates for the Kupu version of the attach screen, as used in the
 right panel  -->
%TMPL:DEF{ATTACH:files:header}%%TMPL:END%
%TMPL:DEF{ATTACH:files:row}%<option name='%A_FILE%'>%A_ICON% %A_FILE%</option>
%TMPL:END%
%TMPL:DEF{ATTACH:files:footer}%%TMPL:END%
%TMPL:DEF{ATTACH:files:header:A}%%TMPL:P{ATTACH:files:header}%%TMPL:END%
%TMPL:DEF{ATTACH:files:row:A}%%TMPL:P{ATTACH:files:row}%%TMPL:END%
%TMPL:DEF{ATTACH:files:footer:A}%%TMPL:P{ATTACH:files:footer}%%TMPL:END%
