%TMPL:INCLUDE{"backlinks"}%



%TMPL:DEF{"titleaction"}%%MAKETEXT{"(backlinks in all Webs)"}% %TMPL:END%



%TMPL:DEF{"content"}%<div class="patternTopic"><div class="patternSearchResults">
<div class="patternSearchString">%ICON{"topicbacklinks"}% <b>%MAKETEXT{"Backlinks to [_1] in all Webs" args="%TOPIC%"}%</b>&nbsp;&nbsp;<a class="twikiSmall" href="%SCRIPTURLPATH{"oops"}%/%WEB%/%TOPIC%?template=backlinksweb" title='%MAKETEXT{"Search all webs for topics that link to here"}%' accesskey="b"><img src="%ICONURL{search-small}%" width="13" height="13" alt="" border="0" />&nbsp;%MAKETEXT{"Search [_1] We&b only" args="<nop>%WEB%"}%</a></div>
%TMPL:P{"searchweb"}%
%TMPL:P{"searchallwebs"}%
</div></div>%TMPL:END%
