%TMPL:INCLUDE{"backlinks"}%



%TMPL:DEF{"titleaction"}%(backlinks) %TMPL:END%



%TMPL:DEF{"content"}%<p>Backlinks to %TOPIC% <b>in <nop>%WEB% Web</b>&nbsp;&nbsp;<small><a href="%SCRIPTURLPATH{"oops"}%/%WEB%/%TOPIC%?template=backlinksallwebs" title="Search all webs for topics that link to here">Search all Webs</a></small></p>
%TMPL:P{"searchweb"}%
%TMPL:P{"topicinfo"}%
%TMPL:END%
