%TMPL:INCLUDE{"backlinks.classic"}%



%TMPL:DEF{"titleaction"}%(backlinks) %TMPL:END%



%TMPL:DEF{"content"}%<p>Backlinks to %TOPIC% <b>in all Webs</b>&nbsp;&nbsp;<small><a href="%SCRIPTURLPATH{"oops"}%/%WEB%/%TOPIC%?template=backlinksweb" title="Search all webs for topics that link to here">Search <nop>%WEB% Web only</a></small></p>
%TMPL:P{"searchweb"}%
%TMPL:P{"searchallwebs"}%
%TMPL:P{"topicinfo"}%
%TMPL:END%
