%TMPL:DEF{"body"}%<body class="%TMPL:P{"bodyclassname"}%"><a name="PageTop"></a>
<div id="patternScreen">
<div id="patternPageShadow">
<div id="patternPage">
%TMPL:P{"startleftbarwrapper"}%<div id="patternOuter">
<div id="patternFloatWrap">
<div id="patternMain">%TMPL:P{"topbarspacer"}%
<div id="patternMainContents">%TMPL:P{"logo"}%%TMPL:P{"content"}%
</div><!-- /patternMainContents-->
</div><!-- /patternMain-->%TMPL:P{"leftbar"}%
</div><!-- /patternFloatWrap-->
<div class="clear">&nbsp;</div>
</div><!-- /patternOuter-->%TMPL:P{"endleftbarwrapper"}%%TMPL:P{"topbar"}%%TMPL:P{"bottombar"}%
</div><!-- /patternPage-->
</div><!-- /patternPageShadow-->
</div><!-- /patternScreen-->
</body></html>%TMPL:END%