%TMPL:INCLUDE{"search"}%



%TMPL:DEF{"titleaction"}%%MAKETEXT{"(changes)"}% %TMPL:END%



%TMPL:DEF{"toolbar"}%%TMPL:END%
%TMPL:DEF{"topicpathinfo"}%%TMPL:END%



%TMPL:DEF{"textcontent"}%<div class="patternSearchResults">%TMPL:P{"header"}%
%REPEAT%
%TMPL:P{"result"}%
%REPEAT%
</div><!--/patternSearchResults-->%TMPL:END%