%TMPL:INCLUDE{"twiki"}%

%TMPL:DEF{"topicaction"}% <input type="submit" class="twikiSubmit" name="submit" class="twikiSubmit" value=" &nbsp; Change form &nbsp; " /> %TMPL:END%

%TMPL:DEF{"titleaction"}%(change form) %TMPL:END%
%TMPL:DEF{"webaction"}% *Action* %TMPL:END%

%TMPL:DEF{"content"}%
<form name="main" action="%SCRIPTURLPATH{"edit"}%/%WEB%/%TOPIC%" method="post">
<input type="hidden" name="t" value="t=%GMTIME{"$epoch"}%" />
---++ Choose a new form template

<table border="0" cellspacing="0" cellpadding="0">
<tr><td valign="top">
---+++ Possible form templates:
  <ul>
  %FORMLIST%
  </ul>
</td><td>
  &nbsp; &nbsp;
</td><td valign="top">
---+++ _Notes:_
   * <font color="red">Existing form data will be lost! (still available in old version)</font>
   * Any change you made to topic before coming to this page are preserved.
</td></tr>
</table>
<br />
%TEXT%
%EDITACTION%
<input type="hidden" name="topicparent" value="%URLPARAM{"topicparent"}%" />
<input type="hidden" name="redirectto" value="%URLPARAM{"redirectto"}%" />
<input type="hidden" name="skin" value="%URLPARAM{"skin"}%" />
<input type="hidden" name="cover" value="%URLPARAM{"cover"}%" />
%TMPL:P{"topicinfo"}%</form>%TMPL:END%

