%TMPL:DEF{"sep"}%<span class='twikiSeparator'>&nbsp;|&nbsp;</span>%TMPL:END%


%TMPL:DEF{"titlesep"}%&lt;%TMPL:END%


%TMPL:DEF{"LOG_IN"}%%MAKETEXT{"Log In"}%%TMPL:END%
%TMPL:DEF{"LOG_OUT"}%%MAKETEXT{"Log Out"}%%TMPL:END%


%TMPL:DEF{"canceltopicaction"}%<a href="%SCRIPTURLPATH{"view"}%/%WEB%/%TOPIC%" title='%MAKETEXT{"Back to topic"}%' %MAKETEXT{"accesskey='c'"}% rel='nofollow'>%MAKETEXT{"&Cancel"}%</a>%TMPL:END%



%TMPL:DEF{"bodyclassname"}%patternNoViewPage%TMPL:END%



%TMPL:DEF{"windowtitle"}%<title>%TMPL:P{"titleaction"}% <nop>%TOPIC% %TMPL:P{"titlesep"}% %WEB% %TMPL:P{"titlesep"}% <nop>%WIKITOOLNAME%</title>%TMPL:END%