<style type="text/css" media="all">
	.twikiNewLink {
		color:%NEWTOPICFONTCOLOR%;
		background-color:%NEWTOPICBGCOLOR%;
	}
	/* to hide Twisty elements: */
	.twistyHidden { display:none; }
	.twistyMakeVisible { display:none; }
</style>
