%TMPL:INCLUDE{"edit"}%



%TMPL:DEF{"focus"}%%TMPL:END%



%TMPL:DEF{"pagetitle"}%<input type="hidden" name="editaction" value="form" /><h1 class="patternTemplateTitle"><nop>%TOPIC% %MAKETEXT{"(edit form)"}%</h1>%TMPL:END%



%TMPL:DEF{"content"}%<div class="patternFormHolder"><form name="main" action="%SCRIPTURLPATH{"save"}%/%WEB%/%TOPIC%" method="post">
%TMPL:P{"pagetitle"}%
<input type="hidden" id="topic" name="text" value="%TEXT%" />
<input type="hidden" name="formtemplate" value="%FORMTEMPLATE%" />
<input type="hidden" name="redirectto" value="%REDIRECTTO%" />
<input type="hidden" name="topicparent" value="%TOPICPARENT%" />
<input type="hidden" name="settingstopic" value="%SETTINGSTOPIC%" />
<input type="hidden" name="templatetopic" value="%TEMPLATETOPIC%" />
<input type="hidden" name="editaction" value="form" />
<input type="hidden" name="cmd" value="%CMD%" /><div></div>
%FORMFIELDS%
%TMPL:P{"topicaction"}%
</form></div><!-- /patternFormHolder-->%TMPL:END%
