%TMPL:INCLUDE{"edit.classic"}%

%TMPL:DEF{"focus"}%%TMPL:END%
%TMPL:DEF{"titleaction"}%(edit form)%TMPL:END%
%TMPL:DEF{"footernote"}% %TMPL:END%

%TMPL:DEF{"content"}%<form name="main" action="%SCRIPTURLPATH{"save"}%/%WEB%/%TOPIC%" method="post">
<input type="hidden" id="topic" name="text" value="%TEXT%" />
<input type="hidden" name="editaction" value="form" />
<input type="hidden" name="originalrev" value="%ORIGINALREV%" />
<input type="hidden" name="redirectto" value="%REDIRECTTO%" />
<input type="hidden" name="formtemplate" value="%FORMTEMPLATE%" />
<input type="hidden" name="topicparent" value="%TOPICPARENT%" />
<input type="hidden" name="settingstopic" value="%SETTINGSTOPIC%" />
<input type="hidden" name="templatetopic" value="%TEMPLATETOPIC%" />
<input type="hidden" name="cmd" value="%CMD%" />
%FORMFIELDS%
%TMPL:P{"topicinfo"}%</form>%TMPL:END
