%TMPL:INCLUDE{"edit"}%

%TMPL:DEF{"titleaction"}%(edit text)%TMPL:END%

%TMPL:DEF{"content"}%
<form name="main" action="%SCRIPTURLPATH{"save"}%/%WEB%/%TOPIC%" method="post">
<div class"twikiEditTextarea">
<textarea id='topic' name='text' rows='%EDITBOXHEIGHT%' cols='%EDITBOXWIDTH%' style='%EDITBOXSTYLE%'>
%TEXT%
</textarea><br />
</div>
<input type="hidden" name="editaction" value="text" />
<input type="hidden" name="originalrev" value="%ORIGINALREV%" />
<input type="hidden" name="redirectto" value="%REDIRECTTO%" />
<input type="hidden" name="formtemplate" value="%FORMTEMPLATE%" />
<input type="hidden" name="topicparent" value="%TOPICPARENT%" />
<input type="hidden" name="cmd" value="%CMD%" />
See below for help in editing this page.
<table border="0" cellpadding="2" cellspacing="0">
 <tr>
  <td><b>-- <nop>%WIKIUSERNAME% - %DATE%</b></td>
  <td> &nbsp;&nbsp; <code>&lt;==</code> Your signature for easy copy and paste (triple click to select)</td>
 </tr>
</table>
%FORMFIELDS%
%TMPL:P{"topicinfo"}%</form>%TMPL:END%
