%TMPL:INCLUDE{"edit"}%



%TMPL:DEF{"form"}%%TMPL:END%



%TMPL:DEF{"pagetitle"}%<input type="hidden" name="editaction" value="text" />
<h1 class="patternTemplateTitle"><nop>%TOPIC% %MAKETEXT{"(edit text)"}%</h1>%TMPL:END%