%TMPL:DEF{"javascript"}%
%TMPL:P{"twikijavascript"}%
%TMPL:P{"patternjavascript"}%
%{ each template may add its own javascript section }%
%TMPL:P{"templatejavascript"}%
%TMPL:END%



%TMPL:DEF{"twikijavascript"}%<script type="text/javascript" src="%PUBURLPATH%/%TWIKIWEB%/TWikiJavascripts/twiki.js"></script>%TMPL:END%



%TMPL:DEF{"patternjavascript"}%<script type="text/javascript" src="%PUBURLPATH%/%TWIKIWEB%/PatternSkin/pattern.js"></script>
<script type="text/javascript">
//<![CDATA[
	function launchWindow(inWeb, inTopic) {
		return launchTheWindow("%SCRIPTURLPATH{"view"}%/", inWeb, inTopic, "", "viewplain" );
	}
//]]>
</script>%TMPL:END%
