%TMPL:INCLUDE{"page"}%
%TMPL:INCLUDE{"logo"}%
%TMPL:INCLUDE{"viewtopicactionbuttons"}%
%TMPL:INCLUDE{"viewbottombar"}%



%TMPL:DEF{"pagetitle"}%<h1 class="patternTemplateTitle">%TMPL:P{"heading"}%</h1>%TMPL:END%



%TMPL:DEF{"content"}%<div class="patternTopic">%TMPL:P{"pagetitle"}%
%IF{" '%TMPL:P{"webaction"}%' = '' " then="" else="<h3><span class='twikiAlert'>%TMPL:P{"webaction"}%</span></h3>"}%
%TMPL:P{"message"}%</div><!-- /patternTopic-->%TMPL:P{"topicaction"}%%TMPL:END%