%TMPL:DEF{"oopsmorechildtopics"}%
---+++++ %ICON{"arrowdown"}% *%MAKETEXT{"Child topics in [_1] web" args="<nop>%WEB%"}%*
   * %METASEARCH{type="parent" web="%WEB%" topic="%TOPIC%" default="%MAKETEXT{"No child topics"}%"}%%TMPL:END%