%TMPL:DEF{"oopsmoresettings"}%
---+++++ %ICON{"edittopic"}% *%MAKETEXT{"Edit topic preference settings"}%*
   * %MAKETEXT{"<a href='[_1]' rel='nofollow'>Edit settings</a> for this topic" args="%SCRIPTURLPATH{"manage"}%/%WEB%/%TOPIC%?action=editSettings"}%%TMPL:END%