%TMPL:INCLUDE{"oops"}%
%TMPL:INCLUDE{"oopsmoredelete"}%
%TMPL:INCLUDE{"oopsmorerename"}%
%TMPL:INCLUDE{"oopsmorebacklinks"}%
%TMPL:INCLUDE{"oopsmorechildtopics"}%
%TMPL:INCLUDE{"oopsmoresetparent"}%
%TMPL:INCLUDE{"oopsmorerevision"}%
%TMPL:INCLUDE{"oopsmorecompare"}%
%TMPL:INCLUDE{"oopsmoresettings"}%


%TMPL:DEF{"titleaction"}%%MAKETEXT{"(more)"}% %TMPL:END%


%TMPL:DEF{"webaction"}%%TMPL:END%


%TMPL:DEF{"heading"}%%MAKETEXT{"More Actions on Topic [_1]" args="[[%TOPIC%]]"}%%TMPL:END%


%TMPL:DEF{"topicactionbuttons"}%%TMPL:P{"canceltopicaction"}%%TMPL:END%


%TMPL:DEF{"message"}%
%TMPL:P{"oopsmoresettings"}%
%TMPL:P{"oopsmorerename"}%
%TMPL:P{"oopsmoredelete"}%
%TMPL:P{"oopsmoresetparent"}%
%TMPL:P{"oopsmorechildtopics"}%
%TMPL:P{"oopsmorerevision"}%
%TMPL:P{"oopsmorecompare"}%
%TMPL:P{"oopsmorebacklinks"}%
%TMPL:END%