%TMPL:DEF{"oopsmorerename"}%
---+++++ %ICON{"move"}% *%MAKETEXT{"Rename or move topic"}%*
   * <b><a href="%SCRIPTURLPATH{"rename"}%/%WEB%/%TOPIC%" rel='nofollow'>%MAKETEXT{"Rename/move topic..."}%</a></b>,
     %MAKETEXT{"looking for references in _all public webs_"}% *%MAKETEXT{"(recommended)"}%*
   * <a href="%SCRIPTURLPATH{"rename"}%/%WEB%/%TOPIC%?currentwebonly=on" rel='nofollow'>%MAKETEXT{"Rename/move topic..."}%</a>,
     %MAKETEXT{"looking for references in _[_1] web_ only" args="%WEB%"}%%TMPL:END%