%TMPL:DEF{"oopsmorecompare"}%
<form name="main" action="%SCRIPTURLPATH{"rdiff"}%/%WEB%/%TOPIC%">
---+++++ %ICON{"topicdiffs"}% *%MAKETEXT{"Compare revisions"}%*
   * %MAKETEXT{"Older revision:"}% <input class="twikiInputField" type="text" name="rev2" size="6" value="1" />
   * %MAKETEXT{"Newer revision:"}% <input class="twikiInputField" type="text" name="rev1" size="6" value="%PARAM1%" /><br />
     <table class="twikiTable patternDiffOptions"><tr><td><label for="sequential"><img src="%PUBURLPATH%/%TWIKIWEB%/PatternSkin/oopsmore_diff_sequential.gif" alt="sequential" width="80" height="80" /></label></td><td><label for="sidebyside"><img src="%PUBURLPATH%/%TWIKIWEB%/PatternSkin/oopsmore_diff_sidebyside.gif" alt="side by side" width="80" height="80" /></label></td><td><label for="debug"><img src="%PUBURLPATH%/%TWIKIWEB%/PatternSkin/oopsmore_diff_debug.gif" alt="debug" width="80" height="80" /></label></td></tr><tr><td><input type="radio" name="render" id="sequential" value="sequential" checked="checked" /><label for="sequential"> %MAKETEXT{"Sequential"}%</label></td><td><input type="radio" name="render" id="sidebyside" value="sidebyside" /><label for="sidebyside"> %MAKETEXT{"Side by side"}%</label></td><td><input type="radio" name="render" id="debug" value="debug" /><label for="debug"> %MAKETEXT{"Debug"}%</label></td></tr></table>
     <input type="submit" class="twikiButton" value='%MAKETEXT{"View difference"}%' />
</form>%TMPL:END%