%{ Templates for access denied messages. One DEF is selected and inserted at %INSTANTIATE }%
%TMPL:INCLUDE{"twiki"}%

%TMPL:DEF{"titleaction"}%%MAKETEXT{"(oops)"}% %TMPL:END%
%TMPL:DEF{"webaction"}% *%MAKETEXT{"Attention"}%* %TMPL:END%
%TMPL:DEF{"heading"}%%MAKETEXT{"Access Denied"}%%TMPL:END%
%TMPL:DEF{"topicaction"}% [[%MAINWEB%.%HOMETOPIC%][%MAKETEXT{"OK"}%]] %TMPL:END%

%TMPL:INCLUDE{"messages"}%

%TMPL:DEF{"content"}%
%INSTANTIATE%
%TMPL:P{"topicinfo"}%
%TMPL:END%
