%TMPL:DEF{"oopsmorerevision"}%
<form name="main" action="%SCRIPTURLPATH{"view"}%/%WEB%/%TOPIC%">
---+++++ %ICON{"viewtopic"}% *%MAKETEXT{"View previous topic revision"}%* (1 ... %PARAM1%)
   * %MAKETEXT{"Revision:"}% <input class="twikiInputField" type="text" name="rev" size="6" value="%PARAM2%" />
     <input type="checkbox" class="twikiCheckbox" id="raw" name="raw" /><label for="raw">%MAKETEXT{"in raw text format"}%</label>
     <input type="submit" class="twikiButton" value='%MAKETEXT{"View revision"}%' />
</form>%TMPL:END%