%TMPL:INCLUDE{"twiki.classic"}%
%TMPL:DEF{"titleaction"}% %TMPL:END%
%TMPL:DEF{"webaction"}%%TMPL:END%
%TMPL:DEF{"heading"}%%MAKETEXT{"Attention"}%%TMPL:END%
%TMPL:DEF{"topicaction"}% %TMPL:END%
%TMPL:INCLUDE{"messages"}%
%TMPL:DEF{"message"}%%INSTANTIATE%
%TMPL:END%
%TMPL:P{"oops"}%
