<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"><html xmlns="http://www.w3.org/1999/xhtml" xml:lang="%LANG%" lang="%LANG%">
<head>
%TMPL:P{"windowtitle"}%
<meta http-equiv="Content-Type" content="text/html; charset=%CHARSET%" />
<link rel="icon" href="%FAVICON%" type="image/x-icon" />
<link rel="shortcut icon" href="%FAVICON%" type="image/x-icon" />
<meta name="robots" content="noindex" />%HTTP_EQUIV_ON_VIEW%
<base href="%SCRIPTURL%/%SCRIPTNAME%/%WEB%/%TOPIC%"></base>
%TMPL:P{"javascript"}%
%TMPL:P{"styles"}%
</head>
%TMPL:P{"body"}%
%TMPL:INCLUDE{"constants"}%
%TMPL:INCLUDE{"javascript"}%
%TMPL:INCLUDE{"styles"}%
%TMPL:INCLUDE{"body"}%
