%TMPL:INCLUDE{"twiki.classic"}%
%TMPL:INCLUDE{"search.classic"}%


%TMPL:DEF{"qqfooternote"}%   Revision %REVTITLE% - %REVINFO%<br />
%TMPL:END%

%TMPL:DEF{"titleaction"}%(%REVTITLE2% vs. %REVTITLE1%) %TMPL:END%

%TMPL:DEF{"topicaction"}% <a href="%SCRIPTURLPATH{"view"}%/%WEB%/%TOPIC%">View</a>
 %TMPL:P{"sep"}% %TMPL:P{"revisions"}%
 %TMPL:P{"sep"}% <a href="%SCRIPTURLPATH{"oops"}%/%WEB%/%TOPIC%?template=oopsmore&amp;param1=%MAXREV%&amp;param2=%CURRREV%" rel='nofollow'>More</a> %TMPL:END%

%TMPL:DEF{"searchbody"}%%TMPL:P{"repeatedsearchblock"}%%TMPL:END%

%TMPL:DEF{"repeatedsearchblock"}%%REPEAT%<table width="100%" border="3" cellpadding="0" cellspacing="0">
  <tr bgcolor="%WEBBGCOLOR%">
    <td width="99%">
      &nbsp;<tt><b>&lt;&lt;O&gt;&gt;</b></tt>&nbsp; Difference Topic
      <b><a href="%SCRIPTURLPATH{"view"}%/%WEB%/%TOPIC%">%TOPIC%</a></b>
      (<a href="%SCRIPTURLPATH{"view"}%/%WEB%/%TOPIC%?rev=%REVTITLE1%" rel='nofollow'>%REVTITLE1%</a> - %REVINFO1%)
    </td>
  </tr>
</table>
%TEXT%
<br clear="all" />%REPEAT%%TMPL:END%

%TMPL:DEF{"qqtopicinfo"}%%BR%
<br clear="all" />
<table width="100%" border="0" cellpadding="3" cellspacing="0">
 <tr bgcolor="%WEBBGCOLOR%">
  <td valign="top">
   Topic <b>%TOPIC%</b> . { %TMPL:P{"topicaction"}%
   }
  </td>
 </tr>
</table>
<table width="100%" border="0" cellpadding="3" cellspacing="0">
 <tr>
  <td>
%TAIL%
  </td>
  <td width="50%">
    %TMPL:P{"copyright"}%
  </td>
 </tr>
</table>%TMPL:END%

%TMPL:DEF{"content"}%%TMPL:P{"searchbody"}%%TMPL:P{"topicinfo"}%%TMPL:END%
%{ REPEAT%%TMPL:P{"qfooternote" }%
