%TMPL:INCLUDE{"renamebase"}%



%TMPL:DEF{"titleaction"}%%MAKETEXT{"(rename)"}% %TMPL:END%



%TMPL:DEF{"webaction"}%%MAKETEXT{"Rename"}%%TMPL:END%



%TMPL:DEF{"changefromtitle"}%---+++ %MAKETEXT{"Change from:"}% <nop>%WEB%.%TOPIC%%TMPL:END%



%TMPL:DEF{"towebtitle"}%---+++ %MAKETEXT{"To web:"}%%TMPL:END%



%TMPL:DEF{"newweb"}%<p><select name="newweb">%WEBLIST{"<option $marker value=$qname>$name</option>" webs="%NEW_WEB%,public" selection="%NEW_WEB%" separator=" "}%</select></p>%TMPL:END%



%TMPL:DEF{"totopictitle"}%---+++ %MAKETEXT{"To topic:"}%%TMPL:END%



%TMPL:DEF{"newtopic"}%<p><input name="newtopic" value="%NEW_TOPIC%" size="20" /> %TMPL:P{"allownonwikiword"}%</p>%TMPL:END%



%TMPL:DEF{"namehelp"}%<p>%MAKETEXT{"It's usually best to choose a <a target='WikiWord' onclick=\"return launchWindow('[_1]','WikiWord')\" href='[_1]' rel='nofollow'>WikiWord</a> for the new topic name, otherwise automatic linking may not work. Characters not allowed in topic names, such as spaces will automatically be removed." args="%TWIKIWEB%,%SCRIPTURLPATH{"view"}%/%TWIKIWEB%/WikiWord"}%</p>%TMPL:END%



%TMPL:DEF{"movewebhelp"}%<p>%MAKETEXT{"You can move the topic to a different web."}%</p>%TMPL:END%



%TMPL:DEF{"updatenote"}%<div class="patternBlockquote">%MAKETEXT{"Checked topics will be updated to point to the new topic location."}%</div>%TMPL:END%



%TMPL:DEF{"topicactionbuttons"}%<input type="submit" class="twikiSubmit" value='%MAKETEXT{"Rename/Move"}%' /> %MAKETEXT{"or"}% %TMPL:P{"canceltopicaction"}%%TMPL:END%