%TMPL:INCLUDE{"rename"}%



%TMPL:DEF{"pagetitle"}%<h1 class="patternTemplateTitle">%TMPL:P{"webaction"}% <nop>%WEB%</h1>%TMPL:END%



%TMPL:DEF{"towebtitle"}%---+++ %MAKETEXT{"New web name:"}%%TMPL:END%



%TMPL:DEF{"parentwebtitle"}%---+++ %MAKETEXT{"New parent web:"}%%TMPL:END%



%TMPL:DEF{"parentweb"}%<div class="twikiFormStep twikiLast" %SUBWEBSENABLE%>
%TMPL:P{"parentwebtitle"}%
%TMPL:P{"newparentweb"}%
%TMPL:P{"parentwebhelp"}%
</div><!--/twikiFormStep-->%TMPL:END%



%TMPL:DEF{"notes"}%   * %MAKETEXT{"<a target='ManagingWebs' onclick=\"return launchWindow('[_1]','ManagingWebs')\" href='[_2]' rel='nofollow'>Get help on managing webs</a>" args="%TWIKIWEB%,%SCRIPTURLPATH{"view"}%/%TWIKIWEB%/ManagingWebs"}%
   * %MAKETEXT{"The checkmarked topics will be updated."}%
%TMPL:END%



%TMPL:DEF{"renameformsteps"}%<div class="twikiFormSteps">
%TMPL:P{"toweb"}%
%TMPL:P{"parentweb"}%
</div><!-- /twikiFormSteps-->%TMPL:END%



%TMPL:DEF{"searchresults"}%<div class="patternSearchResults">
---+++ %MAKETEXT{"Notices:"}%
%TMPL:P{"updatenote"}%<div class="patternBlockquote">
*%MAKETEXT{"Topics which are currently being edited by other users in the [_1] Web:" args="<nop>%WEB%"}%* %BR%
%MOVE_LOCKED%

*%MAKETEXT{"Topics which refer to this web and are are currently being edited by other users:"}%* %BR%
%REF_LOCKED%

*%MAKETEXT{"Topics which refer to this web that you do not have permission to change:"}%* %BR%
%REF_DENIED%
</div>
<div class="patternBlockquote">
---++++ %MAKETEXT{"Change links in topics that refer to ![_1] in the [_2] Web:" args="%WEB%, <nop>%WEB%"}%
%LOCAL_SEARCH%
</div>
<div class="patternBlockquote">
---++++ %MAKETEXT{"Change links in topics that refer to ![_1] in any Web:" args="%WEB%"}%
%GLOBAL_SEARCH%
%TMPL:P{"checkuncheck"}%
</div>
</div><!--/patternSearchResults-->%TMPL:END%