%TMPL:INCLUDE{"renamebase"}%
%TMPL:DEF{"titleaction"}%(rename) %TMPL:END%
%TMPL:DEF{"webaction"}%Rename%TMPL:END%
%TMPL:DEF{"newtopic"}%<input name="newtopic" value="%NEW_TOPIC%" size="36" />%TMPL:END%
%TMPL:DEF{"newweb"}%<select name="newweb">%WEBLIST{"<option $marker value=$qname>$name</option>" webs="%TRASHWEB%,public" selection="%NEW_WEB%" separator=" "}%</select>%TMPL:END%
%TMPL:DEF{"notes"}%
<br />
<input type="checkbox" name="nonwikiword" %NONWIKIWORDFLAG% />
Allow non <nop>WikiWord for the new topic name. <br />
__Note:__ It's usually best to choose a 
<a target="WikiWord" onclick="return launchWindow('%TWIKIWEB%','WikiWord')" href="%SCRIPTURLPATH{"view"}%/%TWIKIWEB%/WikiWord" rel='nofollow'>WikiWord</a> 
for the new topic name, otherwise automatic linking may not work.  Characters not 
allowed in topic names, such as spaces will automatically be removed.%TMPL:END%
%TMPL:DEF{"topicaction"}%
 <input type="submit" class="twikiSubmit" value="Rename/Move" />
 %TMPL:P{"sep"}% [[%WEB%.%TOPIC%][Cancel]] %TMPL:END%
%TMPL:P{"rename"}%