%TMPL:INCLUDE{"renamewebbase"}%
%TMPL:DEF{"titleaction"}%(rename) %TMPL:END%
%TMPL:DEF{"webaction"}%Rename%TMPL:END%
%TMPL:DEF{"newsubweb"}%<input name="newsubweb" value="%NEW_SUBWEB%" size="36" />%TMPL:END%
%TMPL:DEF{"newparentweb"}%<select name="newparentweb"><option value=""></option>%WEBLIST{"<option $marker value=$qname>$name</option>" webs="%TRASHWEB%,public" selection="%NEW_PARENTWEB%" separator=" "}%</select>%TMPL:END%
%TMPL:DEF{"notes"}%
<br />
__Notes:__ 
   * It's usually best to choose a <a target="WikiWord" onclick="return launchWindow('%TWIKIWEB%','WikiWord')" href="%SCRIPTURLPATH{"view"}%/%TWIKIWEB%/WikiWord" rel='nofollow'>WikiWord</a> for the new web name, otherwise automatic linking may not work.  Characters not allowed in topic names, such as spaces will automatically be removed.
   * %MAKETEXT{"To delete this web: move this web to the Trash web by renaming it to [_1]." args="%TRASHWEB%/%WEB%"}%
%TMPL:END%
%TMPL:DEF{"topicaction"}%
 <input type="submit" class="twikiSubmit" value="Rename/Move" />
 %TMPL:P{"sep"}% [[%WEB%.%TOPIC%][Cancel]] %TMPL:END%
%TMPL:P{"renameweb"}%