%TMPL:INCLUDE{"renamebase"}%



%TMPL:DEF{"titleaction"}%%MAKETEXT{"(rename)"}% %TMPL:END%



%TMPL:DEF{"webaction"}%%MAKETEXT{"Confirm rename or move"}%%TMPL:END%



%TMPL:DEF{"newtopic"}%<p><input type="hidden" name="newtopic" value="%NEW_TOPIC%" /> %TMPL:P{"allownonwikiword"}%</p>%NEW_TOPIC%%TMPL:END%



%TMPL:DEF{"newweb"}%<input type="hidden" name="newweb" value="%NEW_WEB%" />%NEW_WEB%%TMPL:END%



%TMPL:DEF{"topicactionbuttons"}%<input type="hidden" name="nonwikiword" value="%URLPARAM{"nonwikiword"}%" /><input type="submit" class="twikiSubmit" value='%MAKETEXT{"Rename/Move"}%' /> %MAKETEXT{"or"}% %TMPL:P{"canceltopicaction"}%%TMPL:END%