%TMPL:INCLUDE{"renamebase"}%
%TMPL:DEF{"templatescript"}%
<script type="text/javascript">
//<![CDATA[
	var pageElem = document.rename;
//]]>
</script>
<script type="text/javascript" src="%PUBURLPATH%/%TWIKIWEB%/TWikiJavascripts/twiki_renamebase.js"></script>
<script type="text/javascript" src="%PUBURLPATH%/%TWIKIWEB%/TWikiJavascripts/twiki_renamedelete.js"></script>
%TMPL:END%
%TMPL:DEF{"titleaction"}%(delete) %TMPL:END%
%TMPL:DEF{"webaction"}%Delete%TMPL:END%
%TMPL:DEF{"newtopic"}%<input name="newtopic" value="%NEW_TOPIC%" size="36" />%TMPL:END%
%TMPL:DEF{"newweb"}%<select name="newweb">%WEBLIST{"<option $marker value=$qname>$name</option>" webs="%TRASHWEB%,public" selection="%NEW_WEB%" separator=" "}%</select>%TMPL:END%
%TMPL:DEF{"notes"}%
<br />
<input type="checkbox" name="nonwikiword" %NONWIKIWORDFLAG% />
Allow non <nop>WikiWord for deleted topic name. <br />
__Note:__ This name has been chosen so it doesn't conflict with any other topics already in the %NEW_WEB% web. %TMPL:END%
%TMPL:DEF{"topicaction"}%
 <input type="submit" class="twikiSubmit" value="Delete" />
 %TMPL:P{"sep"}% [[%WEB%.%TOPIC%][Cancel]] %TMPL:END%
%TMPL:P{"rename"}%
