%TMPL:INCLUDE{"renamebase.classic"}%
%TMPL:DEF{"titleaction"}%(rename) %TMPL:END%
%TMPL:DEF{"webaction"}%Confirm rename or move%TMPL:END%
%TMPL:DEF{"newtopic"}%<input type="hidden" name="newtopic" value="%NEW_TOPIC%" />%NEW_TOPIC%%TMPL:END%
%TMPL:DEF{"newweb"}%<input type="hidden" name="newweb" value="%NEW_WEB%" />%NEW_WEB%%TMPL:END%
%TMPL:DEF{"topicaction"}% <input type="hidden" name="nonwikiword" value="%URLPARAM{"nonwikiword"}%" />
 <input type="submit" class="twikiSubmit" value="Rename/Move" />
 %TMPL:P{"sep"}% [[%WEB%.%TOPIC%][Cancel]] %TMPL:END%
%TMPL:P{"rename"}%
