%TMPL:INCLUDE{"renamebase"}%



%TMPL:DEF{"subtemplatejavascript"}%<script type="text/javascript" src="%PUBURLPATH%/%TWIKIWEB%/TWikiJavascripts/twiki_renamedelete.js"></script>%TMPL:END%



%TMPL:DEF{"titleaction"}%%MAKETEXT{"(delete)"}% %TMPL:END%



%TMPL:DEF{"webaction"}%%MAKETEXT{"Delete"}%%TMPL:END%



%TMPL:DEF{"changefromtitle"}%---+++ %MAKETEXT{"Current location:"}% <nop>%WEB%.%TOPIC%%TMPL:END%



%TMPL:DEF{"newweb"}%<input type="hidden" name="newweb" value="%TRASHWEB%" />%TMPL:END%



%TMPL:DEF{"towebtitle"}%---+++ %MAKETEXT{"Move topic to web:"}% <nop>%TRASHWEB%%TMPL:END%



%TMPL:DEF{"totopictitle"}%---+++ %MAKETEXT{"Optionally change topic name:"}%%TMPL:END%



%TMPL:DEF{"newtopic"}%<p><input name="newtopic" value="%NEW_TOPIC%" size="20" /> %TMPL:P{"allownonwikiword"}%</p>%TMPL:END%



%TMPL:DEF{"namehelp"}%<p>%MAKETEXT{"This name has been chosen so it doesn't conflict with any other topics already in the [_1] web." args="%NEW_WEB%"}%</p>%TMPL:END%



%TMPL:DEF{"movewebhelp"}%%TMPL:END%



%TMPL:DEF{"updatenote"}%<div class="patternBlockquote">%MAKETEXT{"Checked topics will be updated to point to the new topic location."}% <b>%MAKETEXT{"Not recommended when deleting a topic."}%</b></div>%TMPL:END%



%TMPL:DEF{"topicactionbuttons"}%<input type="submit" class="twikiSubmit" value='%MAKETEXT{"Delete"}%' /> %MAKETEXT{"or"}% %TMPL:P{"canceltopicaction"}%%TMPL:END%