%TMPL:INCLUDE{"renamewebbase.classic"}%
%TMPL:DEF{"titleaction"}%(renameweb) %TMPL:END%
%TMPL:DEF{"webaction"}%Confirm rename or move%TMPL:END%
%TMPL:DEF{"newtopic"}%<input type="hidden" name="newsubweb" value="%NEW_SUBWEB%" />%NEW_SUBWEB%%TMPL:END%
%TMPL:DEF{"newweb"}%<input type="hidden" name="newparentweb" value="%NEW_PARENTWEB%" />%NEW_PARENTWEB%%TMPL:END%
%TMPL:DEF{"topicaction"}% <input type="hidden" name="nonwikiword" value="%URLPARAM{"nonwikiword"}%" />
 <input type="submit" class="twikiSubmit" value="Rename/Move" />
 %TMPL:P{"sep"}% <a href="%SCRIPTURLPATH{"rename"}%/%WEB%/%TOPIC%?action=renameweb&confirm=cancel">Cancel</a> %TMPL:END%
%TMPL:P{"renameweb"}%
