%TMPL:INCLUDE{"twiki"}%

%TMPL:DEF{"titleaction"}%(search result) %TMPL:END%
%TMPL:DEF{"webaction"}% %WEBTOPICLIST% %TMPL:END%
%TMPL:DEF{"topicaction"}%  %TMPL:END%


%TMPL:DEF{"content"}%
%SPLIT%Search: <b> %SEARCHSTRING% </b><p />
%SPLIT%%REPEAT%%REPEAT%%SPLIT%Number of topics: <b>%NTOPICS%</b><p />
%SPLIT%
%TMPL:END%
