%TMPL:DEF{"stylesdynamic"}%<style type="text/css" media="all">
	/* Styles that are set using variables */
	#patternLeftBar .patternWebIndicator,
	.patternBookView .twikiTopRow {
		background-color:%WEBBGCOLOR%;
	}
	%IF{ "defined WEBHEADERART and $ WEBHEADERART != ''" then='#patternTopBar { background-image:url("%WEBHEADERART%"); background-repeat:no-repeat;}'}%
	%IF{ 'defined WEBHEADERBGCOLOR' then='#patternTopBar { background-color:%WEBHEADERBGCOLOR%;}'}%
	.patternBookView {
		border-color:%WEBBGCOLOR%;
	}
	.patternPreviewPage #patternMain {
		/* uncomment to set the preview image */
		/*background-image:url("%PREVIEWBGIMAGE%");*/
	}
	%IF{ "defined PAGEBGCOLOR and $ PAGEBGCOLOR != ''" then='html body, #patternPage, #patternBottomBar, .patternPreviewArea, #patternOuter, #patternTopBar { background-color:%PAGEBGCOLOR%;}
	#patternOuter {background-image:none;}'}%
	%IF{ "context TablePluginEnabled" then='.twikiTable .tableSortIcon img {visibility:hidden;}'}%
	%IF{ "context TablePluginEnabled" then='.twikiTable .tableSortUp {background:url("%ICONURL{tablesortup}%") no-repeat;}'}%
	%IF{ "context TablePluginEnabled" then='.twikiTable .tableSortDown {background:url("%ICONURL{tablesortdown}%") no-repeat;}'}%
	%IF{ "context TablePluginEnabled" then='.twikiTable .tableSortDiamond {background:url("%ICONURL{tablesortdiamond}%") no-repeat;}'}%
</style>%TMPL:END%