%{ Internationalisable Messages/constructs }%
%TMPL:DEF{"sep"}%|%TMPL:END%
%TMPL:DEF{"titlesep"}%&lt;%TMPL:END%
%TMPL:DEF{"LOG_IN"}%Log In%TMPL:END%
%TMPL:DEF{"LOG_OUT"}%Log Out%TMPL:END%



%TMPL:DEF{"htmldoctype"}%<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="%LANG%" lang="%LANG%"> %TMPL:END%



%TMPL:DEF{"templatescript"}%%TMPL:END%



%TMPL:DEF{"script"}%<script type="text/javascript" src="%PUBURLPATH%/%TWIKIWEB%/TWikiJavascripts/twiki.js"></script>
<script type="text/javascript">
//<![CDATA[
	function launchWindow(inWeb, inTopic) {
		return launchTheWindow("%SCRIPTURLPATH{"view"}%/", inWeb, inTopic, "plain");
	}
//]]>
</script>
%TMPL:P{"templatescript"}%
%TMPL:END%



%TMPL:DEF{"windowtitle"}%<title>%TMPL:P{"titleaction"}%<nop>%TOPIC% &lt; %WEB% &lt; <nop>%WIKITOOLNAME%</title>%TMPL:END%



%TMPL:DEF{"twikistyle"}%%TMPL:INCLUDE{"css.tmpl"}%%TMPL:END%



%TMPL:DEF{"head"}%<head>
 %TMPL:P{"windowtitle"}%
	<meta http-equiv="Content-Type" content="text/html; charset=%CHARSET%" /> <meta name="robots" content="noindex" /> %HTTP_EQUIV_ON_VIEW%
	<link rel="icon" href="%FAVICON%" type="image/x-icon" /> <link rel="shortcut icon" href="%FAVICON%" type="image/x-icon" />
	<base href="%SCRIPTURL%/%SCRIPTNAME%/%WEB%/%TOPIC%"></base>
	%TMPL:P{"script"}%
	%TMPL:P{"twikistyle"}%
</head>%TMPL:END%



%TMPL:DEF{"titleaction"}% %TMPL:END%



%TMPL:DEF{"webaction"}%%TMPL:END%



%TMPL:DEF{"bodystart"}%<body bgcolor="#ffffff">
#PageTop
%TMPL:END%



%TMPL:DEF{"attachments"}%%TMPL:END%



%TMPL:DEF{"standardheader"}%<table width="100%" border="0" cellpadding="3" cellspacing="0">
 <tr>
  <td bgcolor="%WEBBGCOLOR%" rowspan="2" valign="top" width="1%">
   <noautolink>
   <a href="%WEBLOGOURL%" rel='nofollow'><img src="%WEBLOGOIMG%" border="0" alt="%WEBLOGOALT%" /></a>
   </noautolink>
  </td><td>
   <a href="%SCRIPTURLPATH{"view"}%/%MAINWEB%/%HOMETOPIC%">%WIKITOOLNAME%</a>
   &gt; <a href="%SCRIPTURLPATH{"view"}%/%WEB%/%HOMETOPIC%">%WEB%</a>
   &gt; %META{"parent" nowebhome="on" suffix=" &gt;"}%
   <font size="+1"><b>%TOPIC%</b> %TMPL:P{"titleaction"}%</font>
  </td><td align="right" colspan="2">
   <font size="-2">%WIKITOOLNAME% webs: <br />
   %WIKIWEBLIST% </font>
  </td>
 </tr>
 <tr bgcolor="%WEBBGCOLOR%">
  <td colspan="2">
   <nop>%WEB% . { %TMPL:P{"webaction"}% }
  </td><td align="right">
   <font size="-2">%INCLUDE{"%IF{"context can_login" then="%TWIKIWEB%.ClassicSkinLogin"}%" warn="off"}%</font>
  </td>
 </tr>
</table>%TMPL:END%
%TMPL:DEF{"simpleheader"}%<table width="100%" border="0" cellpadding="3" cellspacing="0">
 <tr>
  <td bgcolor="%WEBBGCOLOR%" rowspan="2" valign="top" width="1%">
   <noautolink>
   <img src="%WEBLOGOIMG%" border="0" alt="%WEBLOGOALT%" />
   </noautolink>
  </td><td>
   <b>%WIKITOOLNAME% .&nbsp;%WEB% .&nbsp;</b><font size="+2"><b>%TOPIC%</b> %TMPL:P{"titleaction"}%</font>
  </td><td> %TMPL:P{"headerhelp"}%
  </td>
 </tr>
 <tr bgcolor="%WEBBGCOLOR%">
  <td colspan="2">
   %TMPL:P{"webaction"}%
  </td>
 </tr>
</table>%TMPL:END%
%TMPL:DEF{"copyright"}%<div class="TWikiCopyright">
<font size="-2">%WEBCOPYRIGHT%</font>
</div>%TMPL:END%
%TMPL:DEF{"footernote"}% %TMPL:END%
%TMPL:DEF{"standardfooter"}%
#PageBottom %TMPL:END%



%TMPL:DEF{"bodyend"}%</body></html> %TMPL:END%



%TMPL:DEF{"main"}%%TMPL:P{"simpleheader"}%%TMPL:P{"content"}%%TMPL:P{"standardfooter"}%%TMPL:END%



%TMPL:DEF{"topicinfo"}%%BR%
<br clear="all" />
<table width="100%" border="0" cellpadding="3" cellspacing="0">
 <tr bgcolor="%WEBBGCOLOR%">
  <td valign="top">
   Topic <b>%TOPIC%</b> . { %TMPL:P{"topicaction"}%
   }
  </td>
 </tr>
</table>
<table width="100%" border="0" cellpadding="3" cellspacing="0">
 <tr>
  <td>
%TMPL:P{"footernote"}%
  </td>
  <td width="50%">
    %TMPL:P{"copyright"}%
  </td>
 </tr>
</table>%TMPL:END%

%TMPL:DEF{"content"}%
---+ %TMPL:P{"heading"}%
%BR%
%TMPL:P{"message"}%
%TMPL:P{"topicinfo"}%%TMPL:END%

%TMPL:DEF{"revisions"}%<a href="%SCRIPTURLPATH{"rdiff"}%/%WEB%/%TOPIC%?type=history" title="%MAKETEXT{"View total topic history"}%" accesskey="H" rel="nofollow">%MAKETEXT{"&History"}%</a>: %REVISIONS% %TMPL:END%


%TMPL:DEF{"oops"}%%TMPL:P{"htmldoctype"}%%TMPL:P{"head"}%
%TMPL:P{"bodystart"}%
%TMPL:P{"main"}%
%TMPL:P{"bodyend"}%
%TMPL:END%
