<table border="0" cellpadding="0" cellspacing="0" style="width:100%;">
<tr>
<td align="left" valign="top" width="170"><a href="http://www.tdwg.org/"><img src="%PUBURLPATH%/%TWIKIWEB%/Tdwg01Skin/TDWGlogo_Twiki.gif" border="0" alt="Back to TDWG Homepage" /></a></td>
<td align="left" valign="middle"><span id="patternTopBarTitle"><noautolink>TDWG Wiki &gt; %WEB%<noautolink></span></td>
</tr>
</table>
