%{ to include a top bar on a page, just include this template in the page template }%



%TMPL:DEF{"topbar"}%<div id="patternTopBar"><div id="patternTopBarContents">%TMPL:INCLUDE{viewwebtopbar}%</div></div><!-- /patternTopBar-->%TMPL:END%



%TMPL:DEF{"topbarspacer"}%<div id="patternClearHeaderCenter"></div>%TMPL:END%



%TMPL:DEF{"topbardimensions"}%#patternTopBar,
#patternClearHeaderCenter,
#patternClearHeaderLeft,
#patternClearHeaderRight,
#patternTopBarContentsOuter {
	height:89px; /* top bar height; make room for header columns */
	overflow:hidden;
}%TMPL:END%
