%TMPL:DEF{toolbar_buttons}%<div class="patternToolBarButtons">%TMPL:P{"activatable_edit_or_create"}%%TMPL:P{context="WysiwygPluginEnabled" then="activatable_edit_wysiwyg"}%<span class="patternButton">%TMPL:P{"activatable_attach"}%</span><span class="patternButton">%TMPL:P{"printable"}%</span>
</div>%TMPL:END%


%TMPL:DEF{"toolbar"}%
<div class="patternTop">
<div class="patternToolBar">
%TMPL:P{"toolbar_buttons"}%
</div><!-- /patternToolBar-->
<div class="patternToolBarBottom"></div>
</div><!-- /patternTop-->%TMPL:END%