%TMPL:INCLUDE{"twiki.classic"}%

%TMPL:DEF{"form"}%%META{"form"}%%TMPL:END%
%TMPL:DEF{"attachments"}%%META{"attachments"}%%TMPL:END%

%TMPL:DEF{"main"}%
<table width="100%" border="0" cellpadding="3" cellspacing="0">
  <tr bgcolor="%WEBBGCOLOR%">
    <td>
      <b><nop>%WIKITOOLNAME% . <nop>%WEB% . </b><font size="+2"><b>%TOPIC%</b></font>
    </td>
  </tr>
</table>
<p />%TMPL:P{"content"}%
%TMPL:P{"standardfooter"}%%TMPL:END%

%TMPL:DEF{"topicinfo"}%%BR%
<p />
<table width="100%" border="0" cellpadding="3" cellspacing="0">
  <tr bgcolor="%WEBBGCOLOR%">
    <td valign="top">
      =-----= History: %REVINFO%
    </td>
  </tr>
</table>
%TMPL:P{"copyright"}%
%TMPL:END%


%TMPL:DEF{"content"}%%TEXT%
#TopicEnd
%TMPL:P{"form"}%%TMPL:P{"attachments"}%
%TMPL:P{"topicinfo"}%%TMPL:END%

%TMPL:P{"htmldoctype"}%
%TMPL:P{"head"}%
%TMPL:P{"bodystart"}%
%TMPL:P{"main"}%
%TMPL:P{"bodyend"}% 
