%TMPL:INCLUDE{"page"}%
%TMPL:INCLUDE{"viewtopbar"}%
%TMPL:INCLUDE{"viewtoolbar"}%
%TMPL:INCLUDE{"viewleftbar"}%
%TMPL:INCLUDE{"viewrightbar"}%
%TMPL:INCLUDE{"viewtopicactionbuttons"}%
%TMPL:INCLUDE{"viewbottombar"}%



%TMPL:DEF{"templatescript"}%%TMPL:END%



%{ no logo because we have a top bar }%
%TMPL:DEF{"logo"}%%TMPL:END%



%TMPL:DEF{"bodyclassname"}%patternViewPage%TMPL:END%



%TMPL:DEF{"titleaction"}%%REVTITLE%%TMPL:END%



%TMPL:DEF{"topicpathseparator"}%<span class='twikiSeparator'>&nbsp;&gt;&nbsp;</span>%TMPL:END%



%TMPL:DEF{"form"}%%META{"form"}%%TMPL:END%
%TMPL:DEF{"formattop"}%%TMPL:END%
%TMPL:DEF{"formatbottom"}%%TMPL:P{"form"}%%TMPL:END%



%TMPL:DEF{"attachments"}%%META{"attachments"}%%TMPL:END%
%TMPL:DEF{"attachmentsattop"}%%TMPL:END%
%TMPL:DEF{"attachmentsatbottom"}%%TMPL:P{"attachments"}%%TMPL:END%



%TMPL:DEF{"topicpathinfo"}%<div class="patternHomePath"><span class="twikiRight">%TMPL:P{"revinfo"}%</span>%TMPL:P{"breadcrumb"}%<br class="twikiClear" /></div><!-- /patternHomePath-->%TMPL:END%



%TMPL:DEF{"breadcrumb"}%%TMPL:P{"breadcrumb:title"}%%TMPL:P{"breadcrumb:wikitoolname"}%%TMPL:P{"breadcrumb:currentweb"}%%META{"parent" nowebhome="on" prefix="%TMPL:P{"topicpathseparator"}%" suffix=""}%%TMPL:P{"breadcrumb:currenttopic"}%%TMPL:END%

%TMPL:DEF{"breadcrumb:title"}%<span class="patternHomePathTitle">%MAKETEXT{"You are here:"}% </span> %TMPL:END%

%TMPL:DEF{"breadcrumb:wikitoolname"}%[[%MAINWEB%.%HOMETOPIC%][%WIKITOOLNAME%]]%TMPL:P{"topicpathseparator"}%%TMPL:END%

%TMPL:DEF{"breadcrumb:currentweb"}%<a href="%SCRIPTURLPATH{"view"}%/%WEB%/%HOMETOPIC%"><img src="%ICONURLPATH{web-bg-small}%" border="0" alt="" width="13" height="13" style="background-color:%WEBBGCOLOR%" />&nbsp;%MAKETEXT{"[_1] Web" args="<nop>%WEB%"}%</a>%TMPL:END%

%TMPL:DEF{"breadcrumb:currenttopic"}%%TMPL:P{"topicpathseparator"}%<span title="%WEB%.%TOPIC%"><nop>%TOPIC%</span>%TMPL:END%



%TMPL:DEF{"revinfo"}% <span class="patternRevInfo">%REVINFO%</span>%TMPL:END%



%TMPL:DEF{"beforetextcontents"}%<nop>%TMPL:END%
%TMPL:DEF{"beforetext"}%<div class="twikiBeforeText">%TMPL:P{"beforetextcontents"}%</div>%TMPL:END%



%TMPL:DEF{"aftertextcontents"}%<nop>%TMPL:END%
%TMPL:DEF{"aftertext"}%<div class="twikiAfterText">%TMPL:P{"aftertextcontents"}%</div>%TMPL:END%



%TMPL:DEF{"content"}%%TMPL:P{"toolbar"}%
%TMPL:P{"topicpathinfo"}%%TMPL:P{"beforetext"}%%TMPL:P{"formattop"}%%TMPL:P{"attachmentsattop"}%<div class="patternContent">%TMPL:P{"textcontent"}%
%TMPL:P{"aftertext"}%%TMPL:P{"formatbottom"}%%TMPL:P{"attachmentsatbottom"}%</div><!-- /patternContent-->
%TMPL:P{"topicaction"}%%TMPL:P{"topicinfo"}%%TMPL:END%

%TMPL:DEF{"broadcastmessage"}%%BROADCASTMESSAGE%%TMPL:END%


%TMPL:DEF{"textcontent"}%<div class="patternTopic">%TMPL:P{"broadcastmessage"}% %TEXT%</div><!-- /patternTopic-->%TMPL:END%



%TMPL:DEF{"topicinfo"}%<div class="patternMoved">%META{"moved"}%</div><!-- /patternMoved-->%TMPL:END%
