%TMPL:INCLUDE{"page"}%
%TMPL:INCLUDE{"viewbottombar"}%

%TMPL:DEF{"templatescript"}%%TMPL:END%
%TMPL:DEF{"logo"}%%TMPL:END%


%TMPL:DEF{"styles"}%
%TMPL:P{"stylestwist"}%
%TMPL:P{"stylesscreen"}%
%TMPL:P{"stylesprint"}%
%TMPL:END%



%TMPL:DEF{"bodyclassname"}%patternViewPage patternPrintPage%TMPL:END%



%TMPL:DEF{"form"}%
%META{"form"}%%TMPL:END%
%TMPL:DEF{"formattop"}%%TMPL:END%
%TMPL:DEF{"formatbottom"}%%TMPL:P{"form"}%%TMPL:END%



%TMPL:DEF{"attachments"}%
%META{"attachments"}%%TMPL:END%
%TMPL:DEF{"attachmentsattop"}%%TMPL:END%
%TMPL:DEF{"attachmentsatbottom"}%%TMPL:P{"attachments"}%%TMPL:END%



%TMPL:DEF{"topicinfo"}%<div class="patternTopicFooter"><span class="patternHomePath">%MAKETEXT{"This topic:"}% <nop>%WEB% %META{"parent" prefix=" <span class='sep'>&gt;</span> " suffix=""}%
<span class='sep'>&gt;</span> %TOPIC%</span>
<div class="patternTopicInfo patternRevInfo">%MAKETEXT{"History:"}% %REVINFO%</div><!-- /patternTopicInfo --> </div> <!-- /patternTopicFooter --> %TMPL:END%

%TMPL:DEF{"beforetextcontents"}%<nop>%TMPL:END%
%TMPL:DEF{"beforetext"}%<div class="twikiBeforeText">%TMPL:P{"beforetextcontents"}%</div>%TMPL:END%

%TMPL:DEF{"aftertextcontents"}%<nop>%TMPL:END%
%TMPL:DEF{"aftertext"}%<div class="twikiAfterText">%TMPL:P{"aftertextcontents"}%</div>%TMPL:END%

%TMPL:DEF{"broadcastmessage"}%%TMPL:END%

%TMPL:DEF{"textcontent"}%<div class="patternTopic">%TMPL:P{"broadcastmessage"}% %TEXT%</div><!-- /patternTopic-->%TMPL:END%

%TMPL:DEF{"content"}%
%TMPL:P{"beforetext"}%%TMPL:P{"formattop"}%%TMPL:P{"attachmentsattop"}%<div class="patternContent">%TMPL:P{"textcontent"}%
%TMPL:P{"aftertext"}%%TMPL:P{"formatbottom"}%%TMPL:P{"attachmentsatbottom"}%</div><!-- /patternContent-->
%TMPL:P{"topicinfo"}%%TMPL:END%
