<!-- FIXME: This template must be converted to work with new TWiki 4.1 template system -->


%TMPL:INCLUDE{"twiki"}%

%TMPL:DEF{"head"}%
<head>
 <meta http-equiv="Content-Type" content="text/html; charset=%CHARSET%" />
 <link rel="stylesheet" type="text/css" href="sdd1.css">
</head>%TMPL:END%


%TMPL:DEF{"main"}%
%TMPL:P{"content"}%

%TMPL:DEF{"content"}%
%TEXT%
%META{"form"}%
%META{"attachments"}%
%TMPL:END%

%TMPL:P{"htmldoctype"}%
%TMPL:P{"head"}%
%TMPL:P{"bodystart"}%
%TMPL:P{"main"}%
%TMPL:P{"bodyend"}%
