%TMPL:DEF{'searchform'}%
<form class="searchForm" name="quickSearchForm" action="%SCRIPTURLPATH{"view"}%/%TWIKIWEB%/WebSearchAdvanced">
  <input class="textField" name="search" value="%URLPARAM{ "search" encode="entity" }%" size="14" onfocus="clearDefaultandCSS(this);" onblur="setDefaultText(this);" type="text" />
  <input type="hidden" name="scope" value="all" />
  <input type="hidden" name="web" value="on" />
  <input type="hidden" name="order" value="topic" />
  <input type="hidden" name="limit" value="all" />
  <input class="formButton" name="search" value="SEARCH" onfocus="clearDefaultandCSS(this);" onblur="setDefaultText(this);" type="submit" />
</form>
%TMPL:END%
<!-- new by Loic - Jan 07 -->
<div id="patternTopTop">
	<div class="patternMetaMenu">
		<ul>
			<li>%INCLUDE{'%TWIKIWEB%.Tdwg01SkinLoginBox'}%</li>
			<li>%TMPL:P{'searchform'}%</li>
		</ul>
	</div>
	<img src="/twiki/pub/TWiki/Tdwg01Skin/left-top-top.gif" alt="Graphical design component" />
</div>
<!-- end new by Loic - Jan 07 -->

