%{ to include a left bar on a page, just include this template in the page template }%



%TMPL:DEF{"leftbar"}%<div id="patternLeftBar"><div id="patternClearHeaderLeft"></div>
<div id="patternLeftBarContents">
%TMPL:P{"webleftbarindicator"}%%TMPL:P{"webleftbar"}%</div><!-- /patternLeftBarContents--></div><!-- /patternLeftBar-->%TMPL:END%



%TMPL:DEF{"webleftbarindicator"}%<div class="patternWebIndicator"><b><a href="%SCRIPTURLPATH{"view"}%/%WEB%/%HOMETOPIC%"><nop>%WEB%</a></b></div>%TMPL:END%



%TMPL:DEF{"webleftbar"}%%INCLUDE{"%WEB%.WebLeftBar"}%%TMPL:END%



%TMPL:DEF{"startleftbarwrapper"}%<div id="patternWrapper">%TMPL:END%



%TMPL:DEF{"endleftbarwrapper"}%</div><!-- /patternWrapper-->%TMPL:END%



%TMPL:DEF{"leftbardimensions"}%#patternOuter {
	margin-left:12em;
}
#patternLeftBar {
	width:12em;
	margin-left:-12em;
}%TMPL:END%