  AuthName 'Enter your WikiName. (First name and last name, no space, no dots, capitalized, e.g. JohnSmith). Cancel to register if you do not have one.'
  AuthLDAPBindDN cn=admin,dc=falcon,dc=tdwg,dc=gbif,dc=org
  AuthLDAPBindPassword tdwg
  AuthLDAPUrl ldap://falcon.tdwg.gbif.org:389/ou=people,dc=falcon,dc=tdwg,dc=gbif,dc=org?uid?sub?(!(employeeType=*Disabled*))
  AuthType Basic
  Require user RicardoPereira LeeBelbin DonaldHobern StanleyBlum WalterBerendsohn AdrianRissone RenatoDeGiovanni AlexChapman JamesYtow GeraldGuala

