h1           {color: #0000FF }
h2           {color: #0000FF }
h3           {color: #0000FF; font-weight: bold }
body         {color:#333333; font-family:Arial }
.Example     { padding:5; border:1px solid #A099CC; font-family: Microsoft Sans Serif; background-color: #DDDDFF; margin-left:30; margin-right:30 }
.exampleHeader { border-bottom:1px solid #A099CC; padding:0; font-family: Microsoft Sans Serif; background-color: #DDDDFF; font-style:italic; border-left-width:1; border-right-width:1; border-top-width:1; color:#0000FF  }
span.element-mandatory { color: #006600; font-style: italic; font-weight:bold }
span.element-optional { color: #006600; font-weight: bold }
span.element-normal { color: #006600; }